[2013-06-18 10:57] sshymko opened #1 ""Multirun" Configuration Is Not Available in PhpStorm"
After successful installation of the plugin version 0.1 in PhpStorm 6.0.3 (build #PS-129.672) "Multirun" configuration type is not available in the menu.

![phpstorm_settings_plugins_multirun](https://f.cloud.github.com/assets/1231423/668073/bce54678-d805-11e2-84db-bd4efa1c26b7.png)

![phpstorm_run_debug_configuration_add](https://f.cloud.github.com/assets/1231423/668072/bce54934-d805-11e2-89e9-8c

[2013-06-19 01:14] rkhmelyuk commented on #1
Actually, I have the same problem with PyCharm. I had to spend more time to fix that for those IDEs.

[2013-06-19 03:19] rkhmelyuk commented on #1
I had to enable the option that allows using plugin in other IDEs. I got it working in PyCharm and think that it should be working in PhpStorm as well.

[2013-06-19 03:20] rkhmelyuk commented on #1
Btw, I've uploaded the new version to plugins repository. It should become available soon.

[2013-06-19 08:46] rkhmelyuk commented on #1
Re-uploaded the plugin.

[2013-06-19 08:46] #1 closed, assigned to rkhmelyuk

[2013-06-21 04:23] rkhmelyuk opened #2 "Stop the run configurations started by Multirun"
Research if that possible to stop the started configurations.

One way is to try to register and run stop functionality by shortcut, like Ctrl+Shift+F2.

[2013-06-21 12:51] sshymko commented on #1
Confirmed: plugin version 0.2 is compatible with PhpStorm 129.757.

[2013-06-22 02:33] rkhmelyuk opened #3 "On configuration add/remove, the status of Multirun configuration should be changed."
Currently, if user adds/removes the run configuration from the Multirun configuration, IDE won't realize that configuration is changed, and will leave the Apply button disabled.

[2013-06-22 04:49] rkhmelyuk commented on #3
Fixed the problem: when configuration is added or removed, the modified flag is setup correctly.

[2013-06-22 04:49] #3 closed, assigned to rkhmelyuk

[2013-06-22 06:50] rkhmelyuk opened #4 "Pin the tabs when option to not re-use the tables is specified."

[2013-06-22 08:08] rkhmelyuk opened #5 "Need a way to identify the running configuration using tab name or icon"

[2013-06-22 08:37] rkhmelyuk commented on #2
Added the action called "Stop Multirun" available from Run menu or by shortcut Ctrl + Shift + K

[2013-06-22 08:37] #2 closed, assigned to rkhmelyuk

[2013-06-22 08:37] #4 closed, assigned to rkhmelyuk

[2013-06-22 08:46] #5 closed, assigned to rkhmelyuk

[2013-06-22 08:50] rkhmelyuk opened #6 "Default configuration improvements"
In default configuration:
- tab re-using should be turned off
- starting processes one-by-one should be turned on

[2013-06-22 08:51] #6 closed, assigned to rkhmelyuk

[2013-06-23 23:05] rkhmelyuk opened #7 "Mark the tab with failed process"
Use case: user starts a multirun configuration with multiple tests. Some of the tests are failing other are ending correctly. Need to add the option to identify quickly, without switching between all tabs, which tests have been failed.

There are different options how to implement this:
1. Use some mark symbol, as it's currently used for running tasks, like '!', so the tab with failed configuratio

[2013-06-23 23:08] rkhmelyuk opened #8 "Close tabs for successfully completed run configurations"
Another improvements related to running the multiple test configurations. As alternative to marking the tabs of failed configurations, there should be an option in Multirun that, if enabled, will allow to close the tabs for configurations that completed successfully.

For example, user starts the Multirun configuration with 10 tests, ie 10 tabs. 4 tests failed, other 6 were successfully. The idea

[2013-06-23 23:10] rkhmelyuk opened #9 "Help option in the Multirun configuration editor"
Another enhancement:
1. show better description for config options: description should be short but helpful
2. there should be a place for hints below the config option. For example, if must of configurations are tests (is that possible to detect such configurations?), and user has enabled re-using tabs, Multirun should show a hint that this might be not what user wants.

[2013-06-24 03:43] #7 closed, assigned to rkhmelyuk

[2013-06-24 04:17] rkhmelyuk opened #10 "Do not re-use the tab of failed run configuration"
Even if tab re-using is enabled, do not re-use the tab of the process that ended with non-zero exit code.

It's because current behavior can hide some issues, like failed tests.

[2013-06-24 04:19] rkhmelyuk commented on #10
Also need to update the description in the Multirun edit configuration form.

[2013-06-24 04:20] rkhmelyuk opened #11 "Update the documentation"
1. add the description for new configuration options
2. add the images to show important steps of adding and using Multirun

[2013-06-24 04:25] #8 closed, assigned to rkhmelyuk

[2013-06-24 05:25] rkhmelyuk commented on #9
Won't be adding the smart hints - only better description for each available option.

[2013-06-24 05:26] #9 closed, assigned to rkhmelyuk

[2013-06-24 08:17] #10 closed, assigned to rkhmelyuk

[2013-06-25 07:48] rkhmelyuk opened #12 "Fix the issue with loading some configurations"
If multirun contains a ref to configuration that isn't loaded yet, it will start causing some unexpected problems.

Need to fix this problem, so Multirun could be used to run such configurations too.

[2013-06-26 06:28] #12 closed, assigned to rkhmelyuk

[2013-06-26 21:51] jgindin opened #13 "Need to support Debug as well as Run"
Ideal: Allow me to Run some of the configurations and Debug others.
- When adding a configuration, allow me to choose if that configuration should be Run or Debug.

OK: Allow me to Debug all the configurations.
- Enable the "Debug" button on the toolbar

[2013-06-27 04:57] rkhmelyuk opened #14 "Fix the bug with running composite Multirun configuration using one-by-one option"

[2013-06-27 05:05] #14 closed, assigned to rkhmelyuk

[2013-06-27 05:06] rkhmelyuk commented on #13
Added debug for the Multirun configuration.

Ideal solution is too ideal, even though it gives flexibility, it also overcomplicates work with plugin and doesn't match the way IDEA does it.

[2013-06-27 05:06] #13 closed, assigned to rkhmelyuk

[2013-07-09 20:38] navels opened #15 "Fails to run on OS X"
OS X 10.8.4
IntelliJ version: 12.0.4 ultimate

I set up a multirun configuration, click "Run" and get the following error:

[code]

Thanks,
Lee

[2013-07-10 15:44] rkhmelyuk commented on #15
I'm able to reproduce the issue. `ExecutionEnvironmentBulder` was introduced in recent IDEA version (12.1), that's the reason of this issue. I'm going to releaes the fix early next week

[2013-07-11 00:57] navels commented on #15
Great, thanks!

[2013-07-14 21:16] rkhmelyuk commented on #15
Uploaded the new version of plugin to the repository.

[2013-07-14 21:16] #15 closed, assigned to rkhmelyuk

[2013-07-26 06:39] jgindin opened #16 "Multirun doesn't work in latest IJ 13 EA (130.1365)"
Trying to invoke a Multirun configuration gives the following error:

com.intellij.execution.runners.ExecutionEnvironment.<init>(Lcom/intellij/execution/runners/ProgramRunner;Lcom/intellij/execution/ExecutionTarget;Lcom/intellij/execution/RunnerAndConfigurationSettings;Lcom/intellij/execution/ui/RunContentDescriptor;Lcom/intellij/openapi/project/Project;)V: com.intellij.execution.runners.Execution

[2013-07-27 04:58] rkhmelyuk commented on #16
ExecutionEnvironment has very different c-tors in IDEA 12 and 13. Current version of ExecutionEnvironment https://github.com/JetBrains/intellij-community/blob/689f2a1686fd64ec84e5db955ac388a9436e71a0/platform/lang-api/src/com/intellij/execution/runners/ExecutionEnvironment.java

[2013-07-31 02:47] rkhmelyuk commented on #16
Fixed by @jgindin and released in v0.8
https://github.com/rkhmelyuk/multirun/commit/863937ac7c5e807f62e7656d860c6e5831966a79

Thanks

[2013-07-31 02:47] #16 closed, assigned to nobody

[2013-10-30 21:06] navels opened #18 "Option for preventing same configuration from running multiple times"
We are in a multiple-application environment and using multirun works great except when different applications have overlapping depencies.  For example:

App A requires services X, Y, Z
App B requires services Q, R, Y, Z.
App C requires services R, S, Z.

Ideally we would have a multirun config for each app which starts up the required services.  That works fine when running a single application,

[2014-05-29 23:50] pschichtel opened #19 "Serial execution"
This is an awesome plugin, however one thing prevents me from using it currently.

My current (maven) project consists of 5 differen repositories and maven projects:
- parent
- core (depends on parent)
-
  1. aggregator project (depends on core)
  2. aggregator project (dependes on 1. aggregator)
  3. aggregator project (depends on 1. and 2. aggregators)

As you see due to their dependencies, they

[2014-05-30 06:36] knumskull opened #20 "no function with pyCharm 3.4"
Hi,
I can't install this plugin in PyCharm 3.4 (#PY-135-973)

[2014-05-30 06:50] rkhmelyuk commented on #19
Hey,

Thanks for using plugin.

I can recommend you to check following 2 links and see if they work for you. Let me  know if what you want is different.
- https://github.com/rkhmelyuk/multirun/wiki#start-each-configuration-one-by-one
- https://github.com/rkhmelyuk/multirun/wiki/How-to-run-configurations-with-Multirun

[2014-05-30 11:26] pschichtel commented on #19
I looked at those already. The point is, serial starting is not enough. 2 depending maven projects may not build at the same time, otherwise it becomes inconsistent. Multirun started them all after each other, but they were running in parallel which caused some to fail due to an invalid jar file which was at taht moment being deployed to the local repository by a previous project.

[2014-07-24 18:42] wedwards99 opened #21 "Add a pause (sleep) between running each configuration?"
We have a nodejs multi server suite each server running out of webstorm. Using multirun is a great way to run them all but in the windows dev environment it would be nice to add something like a sleep(3) between each start as there are a couple of race conditions that we'd never see in the production linux cloud environment.

We do have "Start configurations one by one" set but that's not quite lo

[2014-08-21 07:18] derkork opened #22 "Plugin throws exception with latest EAP 14"
It looks like some API that the plugin uses has been changed.

[code]

[2014-08-29 14:29] rkhmelyuk commented on #22
Thanks! I will merge and release today.

[2014-08-29 14:41] derkork commented on #22
Cool :) I'd appreciate it if you could give this some test on your end. It works on my projects, but that doesn't mean that I didn't introduce some bugs.

[2014-08-31 16:06] rkhmelyuk commented on #22
Merged in. Going to publish in next couple of hours. Thanks again! It works perfect :)

[2014-08-31 16:06] #22 closed, assigned to nobody

[2014-08-31 17:16] rkhmelyuk commented on #19
Is pause between starting configurations is something that could help with your problem?

https://github.com/rkhmelyuk/multirun/issues/21

[2014-08-31 17:29] pschichtel commented on #19
Nope, that would be an unreliable workaround

[2014-08-31 18:46] #21 closed, assigned to rkhmelyuk

[2014-08-31 19:43] wedwards99 commented on #21
Works great, thanks!

[2014-09-01 07:25] derkork opened #24 "Released version 0.9 is compiled against Java 7"
I just updated to the released version 0.9 and it's compiled against Java 7. This does not seem to work with the latest EAP of IDEA 14, as I'm getting "Unsupported Major/Minor Version: 51" errors when the plugin is loaded. Recompiling the Plugin with Java 6 from the sources seems to do the trick.

[2014-09-01 07:50] rkhmelyuk commented on #24
I"ll upload compiled with java6 version tomorrow.

Thanks for reporting this,

Ruslan
On Sep 1, 2014 12:25 AM, "Jan Thomä" notifications@github.com wrote:

[2014-09-02 08:02] jhuesos opened #25 "Multirun v0.9 throws an Exception and it can't be enabled"
After updating to multirun version 0.9 this morning, I can no longer enable it. It throws an exception when starting Intellij Idea.

I am attaching a screenshot of the exception (I couldnt select the text, sorry)

![screen shot 2014-09-02 at 10 00 20](https://cloud.githubusercontent.com/assets/339609/4115404/7e312280-3277-11e4-8251-ff6f777c1e23.png)

[2014-09-02 14:26] rkhmelyuk commented on #25
Rebuilt with Java 6 and uploaded a new version.

[2014-09-02 14:26] #25 closed, assigned to nobody

[2014-09-02 14:26] rkhmelyuk commented on #25
Thanks for reporting!

[2014-09-02 20:38] navels opened #26 "Version 0.9 crashes IJ 13.1.4 on OS X"
I'm on OS X with Intellij 13.1.4. Just updated the plugin today to 0.9 and get this error:

Plugin 'com.khmelyuk.multirun failed to initialize and will be disabled. Please restart Intellij IDEA.

at which point my UI is frozen and I have to find and kill the intellij process on the command line.

[2014-09-03 01:37] rkhmelyuk commented on #26
Version for 13 was build using wrong SDK. Fixed. New version is 0.9.2

Thanks for reporting.

[2014-09-03 01:37] #26 closed, assigned to rkhmelyuk

[2014-09-25 07:03] rkhmelyuk commented on #20
Hey,

Can you check the version 0.9.2. It should be working good with PyCharm 3.4.

Resolving this issue. Pls, reopen if still problems.

Thanks,
Ruslan

[2014-09-25 07:03] #20 closed, assigned to rkhmelyuk

[2014-09-25 07:03] #24 closed, assigned to nobody

[2014-10-24 12:52] wedwards99 opened #27 "Webstorm 9, Run tab re-use no longer seems to be working"
After upgrading to Webstorm 9 the Multirun plugin had to be re-installed.   Since then existing or new Multirun configurations seem to not recognize the setting for "Re-use tab to run configuration" and always start new tabs.

Thanks very much, Will

[2014-10-26 09:52] gberberoglu opened #28 "incompatible with intellij 14"
latest version (0.9.2) is not compatible with intellij 14

workaround: uninstall 0.9.2. install multirun again then intellij14 will pick 0.9.1 which is compatible.

so this is only an issue if you upgrade from 13 to 14, due to strange version numbers.

[2014-11-17 23:11] nickhristov opened #29 "Stacktrace in intelliJ 14"
Happens when trying to execute a MultiRun configuration in IntelliJ 14.

Programs start up regardless of the exception.

[code]

[2014-11-24 13:27] AlbertBrand opened #30 "IntelliJ 14: runned configurations are pinned regardless of tab re-use."
Previously, only when multirun option 're-use tab to run configuration' was used, the started configuration was pinned. Now, it seems that it is always pinned in IntelliJ 14 / Multirun 0.9.1.

[2014-12-02 19:58] ido-ran opened #31 "Fail to install on WebStorm 9.0.1"
I've download the jar file multirun-13.jar, when I try to install it in WebStorm 9.0.1 I get an error message:
Plugin Multirun is incompatible with current installation.

Any ideas?

[2014-12-02 21:23] wedwards99 commented on #31
We had the same problem here, this is the IM session I had with a colleague at the time, I hesitate to say it's _the_ solution but it worked for us, hope it helps:

`...in the plugins page it showed Multirun in red or something with an Uninstall Plugin button at the top.
Clicked the uninstall button and it upgraded it instead after a restart it all seems to be working ok.
Basically I think an unin

[2014-12-03 09:37] ido-ran commented on #31
Thanks for the tip. I'm not able to get it install in the first place.

[2015-02-02 09:55] GordonShamvey commented on #31
Hi. Facing same problem with IntellijIDEA after I`ve upgraded it to 14.0.2.
Any update on this?

[2015-02-10 03:08] nickhristov opened #33 "Plugin does not work with IntelliJ 14.1 EAP"
Not sure if IntelliJ changed their SPI or what is the reason. Multirun simply does not load under that revision.

[2015-02-10 03:09] rkhmelyuk commented on #33
Thanks for reporting. I will check that in next few days.

[2015-02-25 14:33] pjjanak commented on #33
Any word on this?

[2015-02-26 01:11] rkhmelyuk commented on #33
Going to spend some time to fix pending issues with multirun for new
versions of IDE.
On Wed, Feb 25, 2015 at 6:33 AM Peter Janak notifications@github.com
wrote:

[2015-02-26 23:09] nickhristov commented on #29
This appears to be the problem:

[code]

Perhaps a SwingUtilities.invokeLater() call was not used where it should have been used?

[2015-02-27 12:45] ghost commented on #33
I have multirun available in latest EAP but it fails on every configuration after executing all "Before" tasks...

[2015-02-27 12:47] ghost commented on #33
@rkhmelyuk thanks for this plugin man, its very usefull in some cases :)
i think i'll help you with this, i've noticed several bugs (concurrent/non concurrent execution of configs) + i have one feature request...

[2015-02-28 07:21] rkhmelyuk commented on #33
vach@ - thanks, just post the bugs you have or send pull requests; I'm going to spend some time fixing things next couple weeks.

[2015-03-24 15:29] kenfox commented on #33
14.1 is released for general use now. Losing multirun for a while sure reminds me why I installed it in the first place! ;)

[2015-03-24 16:44] nickhristov commented on #33
It appears to be a purely plugin.xml version limit. I can send a pull request; however, my testing has been limited to about a day of usage.

[2015-03-24 18:20] rkhmelyuk commented on #33
Thanks Nick. Going to look today too, as its time to update to new Idea!
On Tue, Mar 24, 2015 at 9:44 AM Nick Hristov notifications@github.com
wrote:

[2015-03-25 02:36] #11 closed

[2015-03-25 03:15] rkhmelyuk commented on #30
Tabs would be pinned, unless 're-use tab to run configuration' is set. Going to update Multirun and see it works as expected. Please reopen if you still have the issue.

[2015-03-25 03:15] #30 closed

[2015-03-25 03:16] rkhmelyuk commented on #28
Some strange API issue caused this. Updated Multirun with a new version soon (in next few hours). Please, use it and re-open if any issue.

[2015-03-25 03:16] #28 closed

[2015-03-25 03:17] rkhmelyuk commented on #31
Going to update plugin in a few hours. Should work now. Please, reopen if still would have issue. Thank you!

[2015-03-25 03:17] #31 closed

[2015-03-25 03:19] rkhmelyuk commented on #33
Thanks everyone. Sorry for such late action on this. New version should be available in a few hours.

[2015-03-25 04:01] #33 closed

[2015-03-25 04:13] rkhmelyuk commented on #27
Can you check the recent version of this plugin?

[2015-03-26 14:13] wedwards99 commented on #27
The recent version now works as advertised, thanks.  One problem (for me anyway) is that the definition is now re-use tab, _except tab of failed configurations_, and I do want to re-use the tabs regardless of its failure status.  Things like the stop button in web storm is a non zero exit code and I think this defines it as a failed configuration.

Thanks again, Will

[2015-07-08 14:18] pjjanak opened #34 "Does not work in Intellij 15 EAP"
Like the title says. Getting the following error when attempting to run a multi-run configuration:

`NoSuchMethodError: com.intellij.execution.runners.ExecutionEnvironment.(Lcom/intellij/execution/configurations/RunProfile;Lcom/intellij/execution/Executor;Lcom/intellij/execution/ExecutionTarget;Lcom/intellij/openapi/project/Project;Lcom/intellij/execution/configurations/RunnerSettings;Lcom/intelli

[2015-08-04 08:06] Donnerbart commented on #34
Same exception here with 15 EAP.

[2015-08-19 11:16] KeM1aL opened #35 "Before run Multirun"
Using MultiRun in before launch seems to not work. The Before launch start but when finished does not launch the current configuration.
It seems to work with maven run before.

[2015-09-28 11:12] fischermatte commented on #29
+1. same here with intellij 14.1.5

[2015-10-01 09:39] amorfis commented on #34
Same here. Build 142.5047.6

[2015-10-01 18:53] rkhmelyuk commented on #34
Going to look at it in next few days. Got the same problem :)
On Thu, Oct 1, 2015 at 2:39 AM Paweł Stawicki notifications@github.com
wrote:

[2015-10-01 20:20] rkhmelyuk commented on #34
Version 1.1 is available now in the repository. It supports IntellijIDEA 15 version.

[2015-10-01 20:20] #34 closed

[2015-10-08 21:08] cescoferraro opened #36 "multidebug? Run as debug option?"
Is there such feature? Is there any chance of happening?

[2015-10-09 04:44] rkhmelyuk commented on #36
It's currently unsupported. Yes, it's possible to add this. I'll try to get look to it this weekend.

Are you ok with it being supported only for idea 15?

[2015-10-10 19:47] cescoferraro commented on #36
Yeah I am OK! I got it installed through the EAP, but am not currently using it because its still buggy on Ubuntu 15( Top bar menus refusing to open after clicking it a few times. WIll file an issue on youtrack).

[2015-10-19 00:57] rkhmelyuk commented on #36
v1.0.2 for Idea14 should enable debugging.
v1.1.2 for Idea15 EA should enable debugging.

Let me know if any issues.

[2015-10-19 00:57] #36 closed

[2015-10-20 14:51] cescoferraro commented on #36
I dont see any changes.How do I choose the debug mode? Had to install the plugin from disk. Downloading from the GUI give me errors. Neither was able to update it from the GUI. Idea 14 btw, version 1.0.2

[2015-12-13 06:37] Donnerbart opened #37 "Run with Coverage"
Hi,

I would like to use Multirun to start coverage tests for a large multi-module project with several hours of test runtime, so I can go away and leave it unattended. At the moment I have to start the tests for each module manually after each other.

Multirun would be a very good match, but I cannot start it with Coverage, just `Run` and `Debug` are available. Any chance to get this implemented?

[2015-12-13 06:40] rkhmelyuk commented on #37
I need to check how to implement this. Don't think that would be much difference from Run/Debug runner action.

[2016-03-02 17:46] bbrudnoy opened #38 "NoSuchMethodError when running on March 1, 2016 EAP"
This happened upon attempting and failing to execute a Multirun configuration. IJ build information is:

[code]

[2016-03-08 12:29] Darkvater opened #39 "Start configurations one by one and forked process?"
Love the idea of this plugin. I have tried using it together with cucumber-jvm, but it seems that after the cucumber process starts it forks off the actual runner, thus multirunner thinking it is ready to start the next test in sequence even if "Start configurations one by one" is set.

Is there any way of forcing the plugin to wait for the finish of the currently running configuration?

[2016-03-08 18:35] rkhmelyuk commented on #39
You can use "Start configurations one by one" and use some delay (just to the right side of this option). However, this means that it will wait same delay for each started configuration.

[2016-03-12 01:46] navels commented on #38
+1 for getting an update compatible with the latest IJ 16 EAP

[2016-03-13 01:38] rkhmelyuk commented on #38
I'm not sure I'll be supporting IJ 16 or later. I'd recommend using built-in support for running multiple configurations https://www.jetbrains.com/idea/help/run-debug-configuration-compound.html

However, feel free to checkout Multirun source code and maybe you can get it working.

[2016-03-13 01:38] #38 closed

[2016-03-14 04:44] navels commented on #38
Thanks for the tip, I didn't know about the compound runner.  Unfortunately it seems to only work in Run mode, not Debug :(

Ugh, there is also no "Stop Compound" equivalent to "Stop Multirun".

[2016-03-17 16:07] slanska opened #40 "Stopped working after WebStorm upgrade from 11 to 2016.1"
I have been enjoying your plugin for few months and after upgrade to WebStorm 2016.1 it stopped working.
Would it be possible to fix plugin? Native Compound project does not seem to support debugging (allows only to run bundle of projects). Appreciate it!

[2016-03-18 08:33] mmmod commented on #40
Exactly the same problem with IntelliJ IDEA 2016.1. Multirun got downgraded from 1.1.2 to 0.8 when IntelliJ started, probably because the 1.1.2 is not marked as compatible with the new version (but 0.8 is).

[2016-03-18 15:11] navels commented on #40
I've increased the version compatibility, rebuilt, and tested against Intellij 15, 2016.1, and Webstorm 2016.1.  (New plugin version is 1.1.3.)

@rkhmelyuk, let me know if you'd like me to submit a PR.  I'd also be willing to take over updating the plugin if you no longer have the time or interest.  Thanks.

[multirun.jar.zip](https://github.com/rkhmelyuk/multirun/files/179887/multirun.jar.zip)

[2016-03-19 06:27] #39 closed

[2016-03-19 06:36] rkhmelyuk commented on #40
Hi @navels,

That is awesome if you have a fix. Can you pls submit PR to add the change into the repository.

I'd be happy if you could take over maintaining this plugin. Send me your plugins.jetbrains.com username, and I'll be able to add you to the developers list.

Thanks,
Ruslan

[2016-03-19 11:18] Darkvater commented on #39
That is fine as long as you know how long a certain run-configuration takes. Thanks, I'll try playing with that.

[2016-03-19 12:47] #27 closed

[2016-03-19 14:28] navels commented on #40
Sounds good. My username at jetbrains is also navels.  PR to come . . .

[2016-03-20 06:51] rkhmelyuk commented on #40
@navels - I've added you as a collaborator to this repository.

[2016-03-21 14:23] observstream commented on #40
Any update on releasing a new version?

[2016-03-21 15:32] navels commented on #40
Released 1.1.3.

[2016-03-21 15:32] #40 closed

[2016-03-22 15:03] ubaierbhat opened #42 "MultiRun no longer working in Intellij 2016"
Multi run is no longer working in new version of Intellij 2016. I get the following error.

`com.intellij.execution.runners.ExecutionEnvironment.<init>(Lcom/intellij/execution/configurations/RunProfile;Lcom/intellij/execution/Executor;Lcom/intellij/execution/ExecutionTarget;Lcom/intellij/openapi/project/Project;Lcom/intellij/execution/configurations/RunnerSettings;Lcom/intellij/execution/configura

[2016-03-22 15:08] #42 closed

[2016-03-22 16:22] ssssteffff opened #43 "Bash configuration are not launched when multirun configuration is debugged"
Hi, I would like two launch several configurations at once (bash and Maven configurations) :
- run bash ones
- debug maven one

If I _run_ the multirun configuration, both are _run_.
If I _debug_ it, only maven configuration is actually debugged, and bash configurations are simply ignored. (Probably because bash configurations cannot be debugged).

Could it be possible to, either let the user choo

[2016-03-31 11:09] Phitherek opened #44 "Execute next configuration after the previous configuration has finished successfully"
I want to use this plugin for setting up deployment, and then stopping and starting the server. I would like to be able to create a queue of configurations, which is not really what the "Run configurations one by one" does right now. As the time of performing task varies, the pause in seconds is not really helpful in this case.
Also, configuration that fails should abort running the next ones in t

[2016-05-13 20:45] szarouski opened #45 "Plugin breaks in fresh version on Webstorm EAP"
Hi, here is a stack trace message:

[code]

Issue happened for latest EAP: https://confluence.jetbrains.com/display/WI/WebStorm+EAP

Thank you.

[2016-05-13 20:50] webuniverseio commented on #45
Just found out about `compound` feature in run configuration. Thanks for your plugin anyway, it was very useful all this time. :+1:

[2016-05-13 20:50] #45 closed

[2016-05-16 18:14] bbrudnoy opened #46 "NoSuchMethodError in IDEA 2016.2"
Upon attempting to launch a MultiRun configuration, this exception occurs, and execution fails:
[code]
Information about IDEA tested on:
[code]

[2016-06-09 12:38] landpro opened #47 "Replace running tabs when stop and start again"
Hello

Thank you for a great plugin! This is the only third-party plugin I use in IDEA.

The only suggestion I have for even better usability is to have an option to replace/override/reuse the existing inactive tabs. So when I say stop-all and then start-all again – I expect running tabs to be reused and no inactive/stopped tabs should be left. Currently new tabs created.

Currently when I need to

[2016-06-23 23:47] jasonfry89 commented on #35
I'm having the same issue with IntelliJ 2016.1

[2016-07-13 14:10] #46 closed

[2016-08-01 11:29] jzuken commented on #47
I second that! Truly awesome plugin, thanks a lot for it! But those endlessly emerging tabs are a nightmare.

[2016-10-20 09:03] luisesp19 commented on #44
Maybe you can use the "Before launch" feature and add "Run Another Configuration" as many times as you need

[2016-11-23 03:33] JiahaoLi opened #49 "Stopped working after Intellij IDEA upgrade from 16.2 to 16.3"
Multi run is very convenient tool. However it is no longer working in new version of Intellij 2016.3.

[2016-11-23 05:40] kdmandawe commented on #49
Any plan for 2016.3 support? Unfortunately the built-in 'compound' plugin lacks the tools available in multirun like 'start configurations one by one' and with delay of 'n' seconds.. I need those.

[2016-11-23 05:49] mfedko commented on #49
For now you can build it with gradle and install from local directory.

[2016-11-23 07:29] navels commented on #49
I've compiled and published an update which is compatible with 2016.3.

[2016-11-24 06:58] #49 closed

[2016-11-24 06:59] rkhmelyuk commented on #49
Thank you @navels for fixing plugin!

[2016-11-24 07:11] kdmandawe commented on #49
Goodbye 2016.2! I can confirm multirun now works with 2016.3!

[2016-12-13 11:19] shiouen commented on #35
Experiencing the same issue. Is the creator aware of this? It's been months since this issue has been opened.

@rkhmelyuk being able to run a multirun config with 'Before launch' is quite essential. The configurations in 'Before launch' are all run, but the run config will terminate after the 'Before launch' configurations have bee completed.

[2017-01-10 08:30] eyalrin opened #50 "Run/Debug stops working for no reason"
Sometimes, for no apparent reason, the run and debug option for my run configurations stops working. I press the button, but nothing happens. I need to restart IntelliJ to fix it.

This happens in versions 14.1.5, 15.0.6 and 2016.3.1 (using currently)
OS X 10.12.2

Attached is the log file.
[idea.txt](https://github.com/rkhmelyuk/multirun/files/695583/idea.txt)

[2017-01-10 19:06] navels commented on #50
This looks like more of an IJ issue.  Can you raise an issue on their tracker?

[2017-01-10 19:07] navels commented on #50
LOL I see you already did that and they told you to come here :)

I've commented on your IJ issue, we'll see if they can help.

[2017-01-15 07:09] eyalrin commented on #50
OK, thank!

BTW - this happened to me on a Windows pc as well in the past (same project).

[2017-04-06 04:10] ng-life opened #52 ""single instance only" does not work"
Normally, we hope to launch single instance only. If one of the instance is running, it should be relaunched

[2017-05-05 08:09] benhinssen opened #54 "Support for IntelliJ 2017.2 EAP"
The next EAP 2017.2 EAP came out yesterday.

I made a pull request https://github.com/rkhmelyuk/multirun/pull/53 to support this version in multirun 1.7.

[2017-06-22 11:28] nishil69 opened #55 "v 1.7 does not work with IntelliJ Ultimate 2017.1.4"
I had to use a previous v 1.6 as IntelliJ could not recognize the latest version 1.7 strangely enough. I downloaded the latest and manually imported the plugin from disk on both occasions.

[2017-06-23 17:35] navels commented on #55
That's right, 1.7 is valid starting with IJ 2017.2.  Sounds like everything is working as designed.

[2017-06-23 17:35] #55 closed

[2017-06-24 00:03] navels commented on #54
Merged.

[2017-06-24 00:03] #54 closed

[2017-07-13 11:25] denniseffing opened #56 "Environment Variables in Run Configuration not working"

[2017-07-26 15:55] dustinjohnson13 commented on #43
Related, I'm attempting to use Debug With JRebel for an application server and also run an NPM script (webpack dev server).  When using Debug With JRebel option, the NPM configuration fails to launch.

As a workaround, I created a Groovy class that simply runs the appropriate NPM command in the console and used that as my launch configuration.  A bit hacky, but it works.

[2017-08-10 07:32] timofeev-denis opened #57 "IDE Internal Error"
IDEA 2017.1 and 2017.2 give error "IDE internal error occurred".

Detailed error message:

Access is allowed from event dispatch thread only.
 EventQueue.isDispatchThread()=false isDispatchThread()=false Toolkit.getEventQueue()=com.intellij.ide.IdeEventQueue@27b17456 Current thread: Thread[ApplicationImpl pooled thread 9,4,Idea Thread Group] 423088006 SystemEventQueueThread: Thread[AWT-EventQueue-

[2017-08-10 14:46] navels commented on #57
What's your plugin version?

[2017-08-12 07:13] timofeev-denis commented on #57
I've tried version 1.7 with IDEA 2017.2.1 and version 1.6 with 2017.1.5 on another computer.

[2017-08-12 14:25] navels commented on #57
Can you provide a github project that reproduces this problem?  I'm not encountering this exception.

[2017-10-19 11:36] Barium opened #59 "Multirun gives error in IntelliJ IDEA 2017.3 EAP, build: #IU-173.3302.5"
When attempting to use the multirun feature in IDEA 2017.3 EAP (build IU-173.3302.5) I get the following error:

    Error running 'Some MRun Project': com.intellij.execution.runners.ExecutionEnvironment.<init>(Lcom/intellij/execution/configurations/RunProfile;Lcom/intellij/execution/Executor;Lcom/intellij/execution/ExecutionTarget;Lcom/intellij/openapi/project/Project;Lcom/intellij/execution/conf

[2017-10-19 14:00] lennartblom opened #60 "Error while executing a multirun configuration"
I just found out about the multirun plugin in PyCharm today I wanted to start my distributed API with it. Unfortunately I get an error instantly if I hit the "run" button.

**My setup is the following:**
Jetbrains PyCharm 2017.3 EAP
Mac OS X High Sierra

**The error message looks like this:**
`Error running 'My API': com.intellij.execution.runners.ExecutionEnvironment.<init>(Lcom/intellij/executio

[2017-10-19 18:02] navels commented on #59
Plugin updated for 2017.3, can you let me know if this fixes your issue?

[2017-10-19 18:02] navels commented on #60
Plugin updated for 2017.3, can you let me know if this fixes your issue?

[2017-10-20 06:46] tommy-andersen commented on #59
The new update works. Thank you.

[2017-10-20 06:46] #59 closed

[2017-10-20 06:49] lennartblom commented on #60
Mh... I got version 0.8 running. But there is no evidence for a new update. Did I miss something? Or do you mean the 0.8 version?

[2017-10-20 14:01] navels commented on #60
Yes, 0.8 is the new version.

[2017-10-24 15:20] lennartblom commented on #60
Mh... With "I got version 0.8 running" I did mean, that I have installed the 0.8 version. But the described error occurs, as I explained. So I did not find any update with a newer version to fix my issue...

Sorry for my indistinct wording.

[2017-10-24 15:42] navels commented on #60
Got it, thanks for the clarification.  If you can provide some steps for reproducing the problem (or a github project) I'll look into it.

[2017-10-25 23:52] ratulmukh commented on #44
Doing this worked pretty well. However, for the configurations in the 'before launch', their tabs close as soon as execution is over. :(. Gives me very little time to see the logs and can be limiting.

[2017-11-02 14:34] lennartblom commented on #60
Unfortunately it is pretty simple to explain.

If I do not add any configuration to run with the "multi run configuration" I get no errors but a prompt, that I should add at least one:
![screen shot 2017-11-02 at 15 30 17](https://user-images.githubusercontent.com/4670057/32331430-29fbcc86-bfe3-11e7-867c-609f897e211b.jpg)

If I added one configuration I get the error message above:
![screen shot 2

[2018-03-27 12:58] Mavrick64 commented on #60
Any new on the issue? I got the same problem with IntelliJ 2018.1. Multirun is also version 0.8.
Could you let us know when we can expect a fix?
Thanks

[2018-03-27 21:00] j-walker23 commented on #60
This is also happening on Pycharm 2018.1. The same project/Multirun config was working with latest PyCharm 2017.x.

[2018-03-28 05:24] leosegretain commented on #60
Same error on linux after updating IntelliJ + multirun (0.8)

[2018-03-28 07:16] koretzki opened #61 "multirun 1.8 is not compatible with IntalliJ 2018.1"
shows when trying to execute existing or new MultiRun configuration.

[2018-03-28 16:28] navels commented on #60
I should have some time to take a look this weekend.

[2018-03-29 10:39] OOPMan commented on #61
I'm not sure the author will update, see the opening page of the repo, he recommends you use the compound configs now included in IntelliJ

[2018-03-29 11:05] koretzki commented on #61
for whom is keeping update the plugin, something similar happened a few months ago on issue #60

[2018-03-29 14:19] navels commented on #61
I'll get to it today

[2018-03-30 05:41] navels commented on #61
1.9 released, please let me know if this fixes your issue.

[2018-03-30 05:44] #57 closed

[2018-03-30 05:44] navels commented on #60
1.9 released, please let me know if this fixes your issue.

[2018-03-30 10:06] cazacugmihai commented on #61
Multirun `1.9` works for me in IntelliJ IDEA `2018.1`.

Thank you for this quick fix!

[2018-03-30 13:35] Mavrick64 commented on #60
That's great! It works perfectly for me (intelliJ 2018.1 / Ubuntu 16.04)! Thanks a lot for the quick update!

[2018-03-30 13:54] #60 closed

[2018-03-30 13:57] #61 closed

[2018-04-01 05:36] koretzki commented on #61
thanks @navels , working great.

[2018-04-03 15:28] lennartblom opened #62 "Multi Run Configuration across multiple Spring Boot projects"
Is it possible to use a multi run configuration across multiple projects? I currently do not see any possibility to use the configuration with two projects.

I would be delighted if I am able to start other services (other intelliJ projects) from my project, which I am currently working on.  Even more awesome would be other frameworks as well (e.g. python / node.js)

Because having more than one p

[2018-04-13 13:00] ultrapingu opened #63 "Doesn't appear to be any way to sequentially run configs?"
Am I right in thinking that there isn't any way to have the next config wait for the previous config to finish before it runs?

[2018-04-14 15:45] alekstar commented on #35
Experiencing the same issue on IntelliJ IDEA 2017.2.2 and Multirun 1.7

[2018-04-17 14:17] hoodler42 commented on #43
Hello, are you planning on implementing this feature ?

I'm trying to run a bash command to launch Node.js in a docker container then listen to it in debug mode.

I run bash command with BashSupport plugin but this one can't be launched in debug mode.

[2018-04-18 06:50] rkhmelyuk commented on #43
Hi,

Unless someone from requesters is ready to invest time and resources to add this support, I believe there is little chance this will be implemented.

navels@ and community do a great job to keep the plugin updated to support newer IJ versions. But adding new functionality or fixing bugs, that aren't mainstream, is probably too much of investment to ask them.

Can you get the necessary functio

[2018-06-17 13:34] bluelovers opened #64 "miss Before launch action"
multirun

![2018-06-17-21-27-44-4](https://user-images.githubusercontent.com/167966/41508353-17317e8e-7276-11e8-9c5d-0f3acd4bf903.jpg)

other run conf

![2018-06-17-21-27-17-3](https://user-images.githubusercontent.com/167966/41508354-1f22ebdc-7276-11e8-8362-18a068cc437e.jpg)

[2018-07-02 07:07] matteocollina opened #65 "I can't start two processes at the same"
**Environment**
IntelliJ IDEA 2018.1.1 (Ultimate Edition)
Build #IU-181.4445.78, built on April 9, 2018
For educational use only.
JRE: 1.8.0_152-release-1136-b27 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.3

I would like to start the two processes at the same time but it does not work.

1. I unchecked "Start configuration one by one"
2. I checked "I re-use tab to run confi

[2018-08-15 12:18] thhart commented on #47
Yes, this is a must, any chance for it?

[2018-08-15 12:23] thhart commented on #47
Maybe you can give a hint where to look into, what is the point in the code where the tabs get opened, perhaps it is possible to support and provide a patch?!

[2018-12-27 20:18] serragnoli commented on #63
I'm curious about it as well. It seems there is no way.

[2018-12-29 04:18] rkhmelyuk commented on #63
There is a "Start configurations one by one". Just checked and it seems to have a bug: **I have to uncheck this option** to get the desired behavior. Not sure what causing this bug, but I suggest you to play with that checkbox.

During my experiment, I've unchecked all other checkboxes, but you can play with them as well.

[2019-01-28 18:16] HugoSart opened #66 "Mssing "green dot" when a configuration is started with multirun"
When you drop down the configuration list, usually there is a green dot on those configurations which are already running. If those configurations were started with multirun, the green dot does not appears.

MULTIRUN VERSION: v1.9
IDE VERSION: IntelliJ Ultimate 2018.3.2
OS: Deepin 15.9

[2019-02-14 12:58] navakrishna commented on #44
Before Launch is not applicable for our use case, we have maven launchers and want to execute independently when it run in group launch, dependency is required and want to use start each configuration one by one avoiding with delay option. Is there any possibility?

[2019-03-18 09:24] serejke opened #67 "Incompatibilities of Multirun 1.9 plugin with recent IDE builds"
Hello,
we've detected a couple of incompatibilities of the plugin Multirun with newest IDE builds, caused by recently removed and deprecated class `com.intellij.internal.statistic.UsageTrigger`.

You may see verification results on https://plugins.jetbrains.com/plugin/7248-multirun/update/44620.

"until" build has been restricted for your plugin to 191.4000, the latest version compatible with the

[2019-03-28 12:34] sbicher opened #68 "Problems since Version 2019.1 of IntelliJ"
Since the installation of 2019.1 I get the error message

Error running '<JOB_NAME_HERE>': com/intellij/internal/statistic/UsageTrigger

and the runners don't start.
A colleague of mine has the same problem

[2019-03-28 13:03] ondrakrat opened #69 "Do not steal focus when running individual configs"
When I run multiple Java run configurations with multirun, I usually wait a few minutes, as it takes some time for the applications to initialize. However, with every single app, IntelliJ Idea moves the focus to the IDE window, which is especially annoying when writing text in another window.

Can the focus remain unchanged when starting new applications?

[2019-04-01 14:55] pakro commented on #68
Also affected by this issue. Having several spring boot applications that I want to start with this plugin but it does not work anymore.

[2019-04-01 18:11] navels commented on #67
plugin has been updated

[2019-04-01 18:11] #67 closed

[2019-04-01 18:11] navels commented on #68
plugin has been updated

[2019-04-01 18:11] #68 closed

[2019-04-02 04:02] sbicher commented on #68
Thanks, works excellent again!
Great work and really fast.

[2019-04-02 16:02] navels commented on #69
I don't think this is something the plugin can control.

[2019-05-06 02:21] mesketh opened #70 "Delay per configuration?"
I realise no one is working on this right now and I could have missed this RFE in the issues but, it  would be useful to have a delay-per-configuration so that I can start things in sequence with custom delays between each configuration.

Thanks

[2019-05-06 02:27] rkhmelyuk commented on #70
There is no support for custom delays per configuration, but you can use a common delay. This option is available next to "Start configurations one by one", and then enter the custom delay in the "with delay" field on right side.

[2019-05-06 02:28] #69 closed

[2019-05-06 02:30] rkhmelyuk commented on #64
Not sure what is the problem. You can add whatever actions to the "Before launch" section.

[2019-05-06 08:58] bluelovers commented on #64
i mean it miss `build`, `build project`, ...etc , in multirun

[2019-06-28 07:30] onlyeat3 opened #71 "Consider writing a dashboard?"
Idea Ultimate have spring boot dashboard, very useful. But can't be used for non-Spring boot projects, consider writing a similar version?

[2019-07-25 18:37] dualbootsoftware opened #72 "Can't start with debug mode in version 2019.2"
Hi, I upgraded to Webstorm version 2019.2 and can't start any multi-run configurations in 'Debug' mode. It works properly if you start it in Run mode, but in Debug mode it complains like this about each step in the multi-run

Error: Debug: there are no runners for Node.js: index.js

Thanks!

[2019-07-26 16:24] michaelcordero commented on #72
Same for IntelliJ 2019.1.3

[2019-07-26 18:19] Jonatino opened #73 "Support for Rider"
Can we have support for Rider?

[2019-07-29 18:33] raghuadapa commented on #72
Same issue. I upgraded to 2019.2 and debug mode stopped working. Run is working fine. any help is truly appreciated.

Below is the screen print of the error message.

**"Error: Debug: there are no runners for Application: Replay"**

![image](https://user-images.githubusercontent.com/30295827/62073282-64af3100-b20e-11e9-97fb-872da3b2a1dd.png)

[2019-07-31 13:46] jenkeeri commented on #47
I would also enjoy this functionality! I do see a checkbox in the config about reusing tabs, but that does not make a difference...

[2019-08-01 04:39] stmaute commented on #72
Can confirm this issue. Any news if and when it will be fixed?

[2019-08-27 08:19] pull-vert commented on #72
my multirun (v1.10) Configuration using debug mode was not working with IntelliJ 2019.2 but now with the latest IntelliJ 2019.2.1 it works perfectly !

[2019-08-27 12:19] dualbootsoftware commented on #72
Same here, it is fixed when using 2019.2.1. Closing.

[2019-08-27 14:34] BenjD90 opened #75 "Delay < 1s"
Hello,

Just asking, but that would be nice to be able to set the delay with a value in milliseconds.
My use case is that I start 15 apis, and I prefer to keep the order at launch. With delay == 0, the order is not guaranteed, I'd like to set a delay at 0.1 or 0.5s seconds, but I can't :'(

Thanks for this plugin :)

[2019-10-25 01:56] #52 closed

[2019-11-21 13:21] tometchy commented on #73
I have to run projects in specific Order but Compound doesn't support that, so I would love to use multirun in Rider for this purpose.

[2020-11-16 06:27] rkhmelyuk commented on #29
Going to resolve this issue as no reports for newer versions.

[2020-11-16 06:27] #29 closed

[2020-11-18 07:52] rkhmelyuk commented on #47
Plugin pins every tab it starts. When process is being killed (either by killing all or just single process), the pin on tab is not cleared properly. This sounds like a bug.

[2020-11-19 01:52] rkhmelyuk commented on #44
Sounds to be similar to https://github.com/rkhmelyuk/multirun/issues/19.

[2020-11-19 04:08] #19 closed

[2020-11-19 04:08] #37 closed

[2020-11-19 04:08] #44 closed

[2020-11-19 04:08] #47 closed

[2020-11-19 04:08] #73 closed

[2020-11-19 04:08] #75 closed

[2020-11-19 04:11] rkhmelyuk commented on #44
Starting from version 1.11.1 it is possible to run one configuration just after the other configuration completed when selecting "Start configurations one by one" and using negative delay.

Multirun now does not wait for delay time to start next configuration if previous has completed. In this case, even if using large delay, once current task is completed, the next will start immediately.

[2020-11-19 04:11] rkhmelyuk commented on #19
Starting from version 1.11.1 it is possible to run one configuration just after the other configuration completed when selecting "Start configurations one by one" and using negative delay.

Multirun now does not wait for delay time to start next configuration if previous has completed. In this case, even if using large delay, once current task is completed, the next will start immediately.

[2020-11-19 04:13] rkhmelyuk commented on #75
Multirun now supports sub-second delay starting from version 1.11. Minimal fraction is 100ms.

[2020-11-19 04:14] rkhmelyuk commented on #47
That was a tricky bug, but should be resolved now.

[2020-11-19 04:18] rkhmelyuk commented on #65
I do not think it will be possible to make them to start at the same instant. With unchecked "Start configuration one by one", plugin triggers configurations start almost immediately, however, IntelliJ will do certain work to start configurations, which would result in lags between configurations.

[2020-11-19 04:18] #65 closed

[2020-11-19 04:19] rkhmelyuk commented on #50
Check with new version 1.11.1. And let us know if you still see that issue.

[2020-11-22 09:49] rkhmelyuk commented on #63
This one should be working starting version 1.11. Just check "Start configurations one by one" and use *negative* delay. Multirun in this case will run each configuration one by one sequentially.

[2020-11-22 09:49] #63 closed

[2020-11-27 01:45] rkhmelyuk commented on #71
Luckily Run Dashboard is a feature provided by IDE. You just need to add Multirun to that list.

See how to do that below:
* https://yoni-1117.tistory.com/188
* https://blog.jetbrains.com/idea/2019/08/services-tool-window-one-place-to-rule-them-all/

[2020-11-27 01:54] rkhmelyuk commented on #62
Unfortunately, it doesn't seem to be supported by IntellijIDEA, so can't be added as part of plugin.

[2020-11-27 10:24] #71 closed

[2020-11-27 22:51] #62 closed

[2020-12-02 11:57] clausavram opened #76 "Deprecated ConfigurationFactory.getId needs to be overridden"
Hello,
I stumbled upon this warning in the `/var/log/syslog`, though it didn't cause any visible issues:
[code]

- <details>
    <summary>Full log with stack trace:</summary>

    Dec  2 13:47:20 dev-machine jetbrains-idea-ce.desktop[8207]: 2020-12-02 13:47:20,284 [   5467]   WARN - util.DeprecatedMethodException - The default implementation of method 'com.intellij.execution.configurations.Configu

[2020-12-21 21:44] lennartblom commented on #62
Ok. Thanks @rkhmelyuk for getting back to me! 🙂

[2021-03-06 18:46] rkhmelyuk commented on #76
This has been resolved at 1.12. Thanks for reporting.

[2021-03-06 18:46] #76 closed

[2021-03-23 07:37] theotherp opened #77 "Access is allowed from event dispatch thread with IW lock only."
[code]

IntelliJ 2020.3

[2021-07-28 08:59] JoschuaGoetz opened #78 "Multirun fails with Webstorm 2021.2"
Multirun crashes with the new version of Webstorm.
Error:
[code]

I haven't tested with other jetbrains IDEA's

[2021-07-28 12:22] NicolaF commented on #78
Hi,

exact same issue on IntelliJ 2021.2. Here is the full stack trace:
[code]

[2021-07-29 05:09] rkhmelyuk commented on #78
Let me take a look to it over weekend to figure out what's happening there.

[2021-07-29 23:01] richardbrockie commented on #78
Also on PyCharm 2021.2:

`2:42 PM	Error running 'OTD dev server + Celery'
				EventQueue.isDispatchThread()=true Toolkit.getEventQueue()=com.intellij.ide.IdeEventQueue@8ab428f
				Current thread: Thread[AWT-EventQueue-0,6,main] 1061497835
				SystemEventQueueThread: Thread[AWT-EventQueue-0,6,main] 1061497835`

@rkhmelyuk Thanks for looking into it - this plugin is really useful!

[2021-07-30 02:21] oouo commented on #78
@rkhmelyuk Thanks for the hard work! The plugins are great!

[2021-08-01 01:15] rkhmelyuk commented on #78
Hi Everyone, thanks for reporting this issue and providing stacktrace. Indeed there was a couple of issues with 2021.2 version of IDE. I have fixed them, and uploaded a new Multirun version - 1.13.

I have done a few tests in IntellijIDEA and everything seems to be working properly. But let me know if you find some issues with this new version.

[2021-08-01 01:17] rkhmelyuk commented on #77
Hi theotherp, as part of https://github.com/rkhmelyuk/multirun/issues/78, I have made a few changes. I think it should cover this issue as well. However, new version 1.13 is only for 2021.2+ versions of IDEs.

[2021-08-01 01:22] rkhmelyuk commented on #66
I can't reproduce the issue. I'm going to resolve this issue, as it's 2 years old. Feel free to re-open if you still have this issue.

[2021-08-01 01:22] #66 closed

[2021-08-01 01:22] #50 closed

[2021-08-01 01:25] rkhmelyuk opened #79 ""with delay" option to start configuration one by one to be enabled separately"
Currently it is always on. To trigger the logic with next configuration has to be start after previous configuration, delay needs to be set to negative value. That is not obvious and bad experience.

Instead, prefer to enable "with delay" option separately.

[2021-08-01 05:37] richardbrockie commented on #78
@rkhmelyuk - confirmed fixed in PyCharm 2021.2 with 1.13 - thanks for such a quick fix!

[2021-08-01 17:31] JoschuaGoetz commented on #78
@rkhmelyuk I could also verify it being fixed on Webstorm 2021.2.
Thanks for the quick fix and the useful extension.

I'll close the issue as i opened it.
Feel free to reopen if you want it open for clarity sake

[2021-08-01 17:31] #78 closed

[2021-09-02 15:37] martin-bjorling opened #80 "Start next configuration after specific output from previous?"
I have an application with several run configurations which starts a bunch of different servers. These servers has to be started in a specific order, and I have to wait for one server to finish the startup sequence before starting the next one.

My problem is that when I start a specific server, it will not exit with an exit code since the application requires all these server so be running. Inste

[2021-09-13 14:53] 10v3 opened #81 ""with delay" is not work for me"
I added configuration A and configuration B, and checked "Start configurations one by one", set "with delay" to 10000.0s, but configuration B still runs immediately after configuration A runs.

[2021-09-21 12:28] isfett opened #82 "Possibility to nest Multirun-Configurations in Multirun-Configurations"
Hey,

would it be possible to nest Multirun-Configurations?

For Example:
Multirun Action All JavaScript Tests
- Jest Module 1
- Jest Module 2
- Jest Module 3

Multirun Action All PHP Tests
- PHPUnit Module 1
- PHPUnit Module 2
- PHPUnit Module 3

Until here everything is working fine and as expected. If I try to add a new Multirun-Configuration
Multirun Action ALL TESTS
- Multirun Action All Java

[2021-09-29 05:23] theotherp opened #83 "Parent has already been disposed"
[code]

The multirun runs a java run config first and then a maven run config.

[2021-09-29 15:26] boardtc opened #84 "Run highlighted tests in a test class"
Let's say I have 5 tests (methods) in a test class, I would like to be able to select 2 and right click and run just those 2 in the same way as you can run 1 individual.

Can you add this?

[2021-10-06 06:46] theotherp commented on #77
This seems to have been fixed, thanks.

[2021-10-11 05:14] theotherp opened #85 ""Access is allowed from event dispatch thread only" is back in 1.13"
[code]

with Plugin version 1.13 and IntelliJ 213.4631.20 (built on October 6, 2021)

[2021-10-21 04:51] rkhmelyuk commented on #81
Have you tried the value lower than 10000.0s? What is the reason for you to use 10000.0s value for delay?

[2021-10-21 05:00] 10v3 commented on #81
I tried, 10000s is just an exaggeration, I mean 10s or 100s or 1000s or 10000s are the same.
My English is not good, these are translated by Google Translate, I hope you can understand.

[2021-10-21 05:03] rkhmelyuk commented on #81
Sure, I can understand you well.

Just to double confirm, do you have the "Start configurations one by one" checkbox checked? It must be checked for delay to be used.

[2021-10-21 05:46] 10v3 commented on #81
I’m sure I checked it before, because I tried it many times, so I was very impressed. I tried it again a few minutes ago, the delay is worked now, I don't know why but it's okay, I'm sorry for wasting your time

[2021-10-21 05:49] rkhmelyuk commented on #81
No worries, happy to hear it worked this time. Going to resolve. Feel free to re-open if issue happens again.

[2021-10-21 05:49] #81 closed

[2021-10-21 07:54] zorba128 commented on #83
Same here; quite annoying, as makes multirun skip some of configured run configuration.
All run configurations are scala application in my case.

com.intellij.util.IncorrectOperationException: Sorry but parent: com.intellij.execution.ui.RunContentDescriptor#25290713(....) has already been disposed (see the cause for stacktrace) so the child: (...) will never be disposed
	at com.intellij.openapi.ut

[2021-10-29 08:26] zorba128 opened #86 "java.util.ConcurrentModificationException"
Got exception when starting configuration:
[code]

[2021-10-29 08:33] zorba128 opened #87 "Do not switch to `run` after every application is started"
When starting multirun configuration, `run` tab is focused each time subsequent application is started.
This makes it impossible to switch to another tab until everything is started.

I think run tab should be focused only once at the very beginning. After that, each launched application
should get its view focused, but without switching back to "run" in case someone navigated away.

[2021-12-10 09:57] MerzDaniel opened #88 "IncorrectOperationException when running MultiRun a second time after some failed tests"
**What did I do**
- Run a MultiRun run config with tests and code checks (3 run configs are started)
- Some of the sub runConfigs failed and got "pinned" in the run window of IntelliJ as expected
- After fixing the issues I ran the MultiRun again => the Exception from below is shown
- After closing the pinned windows I was able to run the MultiRun again successfully

**Exception**
[code]

[2021-12-16 12:38] MerzDaniel commented on #88
I have this problem every single day. At the moment I always close all run config tabs before starting the multirun...

[2022-03-17 17:49] frudolph77 opened #89 ""with delay" looses it's value (negative value)"
Hey,

I've a strange issue with Multirun. Every now and then, I can't tell when and why, "with delay" looses it's value resp. it gets reset to zero.

I've multiple run configurations that depend on each other, and should only run one after the other
- stopping a node server
- building a monorepo
- copying the dist files
- restart node server

Luckily i could run all these steps with a shell script

[2022-03-25 14:49] ErikBrendel commented on #18
@rkhmelyuk What is the status on this?

I also would really like for the multirun run configuration to not again start those run configurations that are already running, but only those that are currently not (anymore) running. Would that be possible?

[2022-04-14 09:03] zwif commented on #89
Same here, for me the `delay` is ignored and reset to `0,0`.
Additionally, if I just change the `delay` value no "change" is registered, thus the IntelliJ "Apply" Button can't be pressed. If the value is completely erased and re-entered, the "change" is registered (able to save via "Apply").
If the Configuration with a delay set is run (delay is ignored) the `delay` value is reset to zero in the U

[2022-04-14 11:55] GTmAster commented on #85
Also usually getting this after project stop.
Multirun version: 1.13
JetBrains Rider 2021.3.3

[code]

[2022-04-16 06:49] NicolaF opened #90 "Exceptions with IntelliJ 2022.1"
Hi, I get a exceptions after upgrading IntelliJ:

[code]

[code]

Cheers,
Nicolas

[2022-05-17 09:00] Jakasha commented on #90
Also with Intellij 2022.1.1:

[code]

[2022-06-07 17:16] sahlouls commented on #85
Also in
Intellij IDEA 2022.1.2
Multirun  1.13

[code]

[2022-06-20 07:02] simonstratmann commented on #90
This is getting a bit annoying. Is the plugin abandoned? I'd be willing to fix this and make an MR if I know it's going to be accepted and the next version to be released.

[2022-07-12 08:26] quirin-buechner-mdctec commented on #90
I'd also really love to see this plugin kept alive.

@rkhmelyuk I guess your time resources are quite limited but it would be really awesome if you could make a new release, or otherwise provide all information for the community to be able to publish a new version.

looks like the 'build.graddle' file has a target called 'publishPlugin' but it depends on the 'local.properties' file that is not che

[2022-07-12 15:07] kru2 commented on #85
Did anyone manage to solve this? @sahlouls

[2022-07-26 14:59] MerzDaniel opened #91 "Sometimes errors are reported by IntelliJ"
Background:
I use multi run in all projects to run linter, typechecks & test runs for the JS code.

Issue
Sometimes IntelliJ reports errors. Also sometimes one of the MultiRun Jobs refuses to start, so I have to start it manually after the overall MultiRun job started.

The last error I picked from IntelliJ was the following:

`java.lang.Throwable: Assert: must be called on EDT
	at com.intellij.op

[2022-08-05 01:36] ItsLiyua commented on #91
Can confirm. This also happens for me.

btw @MerzDaniel you can use three of the code block characters to start a multiline block. Then use another three to close the multilineblock. That way you don't have to put two ` for every line.

[2022-08-17 12:12] WelingtonMonteiro opened #92 "Add fields for environment variable that override intelij"
Create the environment variable field in the layout, so, if you need to, just add an environment variable to overwrite the existing one in each webstorm config

![image](https://user-images.githubusercontent.com/4640319/185115344-aec0a44f-f32f-4a3a-801b-33f9a846a8f2.png)

![image](https://user-images.githubusercontent.com/4640319/185115528-bb5bf3a7-2c32-49eb-96d5-9cc3aaca0739.png)

[2022-09-05 09:52] dirk-w opened #93 "removing finished Services"
I have a system with multiple independent spring services.
When I start the services with multirun everything works fine, but when I stop the services with every start stop an entry under SpringBoot-> Finished was created.

![Bildschirmfoto vom 2022-09-04 11-44-15](https://user-images.githubusercontent.com/6073095/188421561-2ac97a03-5ee7-45b4-aaf8-1fb041e868a0.png)

Is there a setting to remove th

[2022-09-16 08:09] simonstratmann commented on #90
While the developer is active on the plugin site they don't respond here.

I created a version 1.13.1 which seems to fix the bugs:
[Multirun-1.13.1.zip](https://github.com/rkhmelyuk/multirun/files/9581978/Multirun-1.13.1.zip)

The source code is here: https://github.com/simonstratmann/multirun

[2022-09-16 19:22] rkhmelyuk commented on #92
Not a thing that is easy to implement at this moment. I'll leave it open at this moment, but wanted to let you know it might not come any time soon.

[2022-09-16 19:24] rkhmelyuk commented on #90
@simonstratmann thanks for preparing the bug fix. I'll be happy to take the fix as Pull request and update the plugin.

[2022-09-30 13:55] BaritskiyIllya opened #94 "Cant add configuration in Startup/Connection tab"
- <details><summary>Tab screanshot</summary>

      ![image](https://user-images.githubusercontent.com/50331812/193280261-6c989d4c-e6eb-4613-a26f-57a2931d3c1f.png)

   </details>

  - <details><summary>IDE</summary>
    <pre>
      RubyMine 2022.2.2
      Build #RM-222.4167.28, built on September 13, 2022
      Runtime version: 17.0.4+7-b469.53 amd64
      VM: OpenJDK 64-Bit Server VM by JetBrains

[2022-11-17 08:34] magalssign commented on #91
Same here
java.lang.Throwable: Assert: must be called on EDT
	at com.intellij.openapi.diagnostic.Logger.error(Logger.java:184)
	at com.intellij.util.ui.EDT.assertIsEdt(EDT.java:61)
	at com.intellij.openapi.wm.impl.ToolWindowImpl.setIcon(ToolWindowImpl.kt:433)
	at com.intellij.execution.ui.RunContentManagerImpl.updateToolWindowDecoration(RunContentManagerImpl.kt:428)
	at com.intellij.execution.ui.R